{% extends 'core/base.html' %}
{% load static %}

{% block main %}
  <div class="pt-wrapper">
    <div class="subpages">
      <section class="pt-page pt-page-1" data-id="about_me">
        {% include 'core/sections/about-me.html' %}
      </section>
      <section class="pt-page pt-page-2" data-id="resume">
        {% include 'core/sections/resume.html' %}
      </section>
      <section class="pt-page pt-page-3" data-id="portfolio">
        {% include 'core/sections/portfolio.html' %}
      </section>
      <section class="pt-page pt-page-4" data-id="code_samples">
        {% include 'core/sections/code-samples.html' %}
      </section>
      <section class="pt-page pt-page-5" data-id="blog">
        {% include 'core/sections/blog.html' %}
      </section>
      <section class="pt-page pt-page-6" data-id="contact">
        {% include 'core/sections/contact.html' %}
      </section>
    </div>
  </div>
{% endblock %}
