{% extends 'core/base.html' %}
{% load static %}

{% block main %}
  <!-- Page changer wrapper -->
  <div class="pt-wrapper">
    <!-- Subpages -->
    <div class="subpages">

      <!-- About Me Subpage -->
      <section class="pt-page pt-page-1" data-id="about_me">
        <div class="section-title-block">
          <h2 class="section-title">About Me</h2>
          <h5 class="section-description">Artist, Thinker, Creative Doer</h5>
        </div>

        <div class="row">
          <div class="col-sm-6 col-md-6 subpage-block">
            <div class="general-info">
              <h3>I'm Charles, nice to meet you!</h3>
              <p>Whether you want a small program to manage your accounts, or a website to host thousands, I'm your guy. I have fifteen years of experience in all areas of software development, TODO</p>
              <p>I pride myself on my communication, with both technical and general audiences. If you want something you can tinker with, I'll provide you with full documentation and test suites. You might want to see my <a href="#">code samples</a>. If you never want to see a line of code, I'll build it, put it on a website and you need never hear me say the word "API". You'll be more interested in my <a href="#">portfolio</a>.</p>
              <p>Whatever it is you want, I'm here to help. <a href="#">Contact me</a> to discuss, or for a quote - no obligations!</p>
            </div>
          </div>

          <div class="col-sm-6 col-md-6 subpage-block">
            <div class="block-title">
              <h3>Testimonials</h3>
            </div>
            <div class="testimonials owl-carousel">
              <!-- Testimonial 2 -->
              <div class="testimonial-item">
                <!-- Testimonial Content -->
                <div class="testimonial-content">
                  <div class="testimonial-text">
                    <p>Superb! Charles delivered on budget and at high velocity. That's the way it should be done.</p>
                  </div>
                </div>            
                <!-- /Testimonial Content -->  
                <!-- Testimonial Author -->
                <div class="testimonial-credits">
                  <!-- Picture -->
                  <div class="testimonial-picture">
                    <img src="{% static 'images/testimonials/kalikucera.jpg' %}" alt="Kali Kucera">
                  </div>              
                  <!-- /Picture -->
                  <!-- Testimonial author information -->
                  <div class="testimonial-author-info">
                    <p class="testimonial-author">Kali Kucera</p>
                    <p class="testimonial-firm">AndesTransit LLC</p>
                  </div>
                </div>
                <!-- /Testimonial author information -->               
              </div>
              <!-- End of Testimonial 2 -->

              <!-- Testimonial 2 -->
              <div class="testimonial-item" style="width:100%">
                <!-- Testimonial Content -->
                <div class="testimonial-content">
                  <div class="testimonial-text">
                    <p>Charles did an outstanding job and finished the job on time with extras, very skilful in Python, Django and API integrations, I'm please to work with him and hire him again. I highly recommend Charles.</p>
                  </div>
                </div>            
                <!-- /Testimonial Content -->  
                <!-- Testimonial Author -->
                <div class="testimonial-credits">
                  <!-- Picture -->
                  <div class="testimonial-picture">
                    <img src="{% static 'images/testimonials/kimmajali.jpg' %}" alt="Kim Majali">
                  </div>              
                  <!-- /Picture -->
                  <!-- Testimonial author information -->
                  <div class="testimonial-author-info">
                    <p class="testimonial-author">Kim Majali</p>
                    <p class="testimonial-firm">Europe IT Outsourcing</p>
                  </div>
                </div>
                <!-- /Testimonial author information -->               
              </div>
              <!-- End of Testimonial 2 -->

              <!-- Testimonial 3 -->
              <div class="testimonial-item" style="width:100%">
                <!-- Testimonial Content -->
                <div class="testimonial-content">
                  <div class="testimonial-text">
                    <p>Awesome, delivered everything asked and more. Could not ask for a better developer.</p>
                  </div>
                </div>            
                <!-- /Testimonial Content -->  
                <!-- Testimonial Author -->
                <div class="testimonial-credits">
                  <!-- Picture -->
                  <div class="testimonial-picture">
                    <img src="{% static 'images/testimonials/christopherford.jpg' %}" alt="Christopher Ford">
                  </div>              
                  <!-- /Picture -->
                  <!-- Testimonial author information -->
                  <div class="testimonial-author-info">
                    <p class="testimonial-author">Christopher Ford</p>
                    <p class="testimonial-firm">inhome</p>
                  </div>
                </div>
                <!-- /Testimonial author information -->               
              </div>
              <!-- End of Testimonial 3 -->
            </div>
          </div>
        </div>

        <!-- Services block -->
        <div class="block-title">
          <h3>Services</h3>
        </div>

        <div class="row">
          <div class="col-sm-6 col-md-3 subpage-block">
            <div class="service-block"> 
              <div class="service-info">
                <i class="fa fa-terminal"></i>
                <h4>Web Design</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-3 subpage-block">
            <div class="service-block"> 
              <div class="service-info">
                <i class="fa fa-terminal"></i>
                <h4>Copywriter</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-3 subpage-block">
            <div class="service-block"> 
              <div class="service-info">
                <i class="fa fa-terminal"></i>
                <h4>Deployment</h4>
                <p>Never touch a piece of code, I'll TODO TODO right to your server.</p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-3 subpage-block">
            <div class="service-block"> 
              <div class="service-info">
                <i class="fa fa-terminal"></i>
                <h4>Management</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
              </div>
            </div>
          </div>
        </div>
        <!-- End of Services block -->

        <!-- Clients block -->
        <div class="block-title">
          <h3>Clients</h3>
        </div>

        <div class="row">
          <div class="col-sm-4 col-md-2 subpage-block">
            <div class="client_block">
              <a href="https://www.gclawyers.com.au/"><img src="{% static 'images/clients/grantcolawyers.svg' %}" alt="Grant & Co Lawyers"></a>
            </div>
          </div>

          <div class="col-sm-4 col-md-2 subpage-block">
            <div class="client_block">
              <a href="https://www.greenhood.com.au/"><img src="{% static 'images/clients/greenhood.png' %}" alt="Greenhood IT"></a>
            </div>
          </div>

          <div class="col-sm-4 col-md-2 subpage-block">
            <div class="client_block">
              <a href="https://www.kyleruddick.com/"><img src="{% static 'images/clients/kyleruddick.png' %}" alt="Kyle Ruddick Creative Works"></a>
            </div>
          </div>

          <div class="col-sm-4 col-md-2 subpage-block">
            <div class="client_block">
              <a href="#" target="_blank"><img src="{% static 'images/clients/greenhood.png' %}" alt="image"></a>
            </div>
          </div>

          <div class="col-sm-4 col-md-2 subpage-block">
            <div class="client_block">
              <a href="#" target="_blank"><img src="{% static 'images/clients/greenhood.png' %}" alt="image"></a>
            </div>
          </div>

          <div class="col-sm-4 col-md-2 subpage-block">
            <div class="client_block">
              <a href="#" target="_blank"><img src="{% static 'images/clients/greenhood.png' %}" alt="image"></a>
          </div>
        </div>
        <!-- End of Clients block -->

        <!-- Fun facts block -->
        <div class="block-title">
          <h3>Fun Facts</h3>
        </div>

        <div class="row">
          <div class="col-sm-6 col-md-3 subpage-block">
            <div class="fun-fact-block gray-bg"> 
              <i class="pe-7s-icon pe-7s-smile"></i>
              <h4>Happy Clients</h4>
              <span class="fun-value">1,024</span>
            </div>
          </div>

          <div class="col-sm-6 col-md-3 subpage-block">
            <div class="fun-fact-block"> 
              <i class="pe-7s-icon pe-7s-alarm"></i>
              <h4>Working Hours</h4>
              <span class="fun-value">6,256</span>
            </div>
          </div>

          <div class="col-sm-6 col-md-3 subpage-block">
            <div class="fun-fact-block gray-bg"> 
              <i class="pe-7s-icon pe-7s-medal"></i>
              <h4>Awards Won</h4>
              <span class="fun-value">21</span>
            </div>
          </div>

          <div class="col-sm-6 col-md-3 subpage-block">
            <div class="fun-fact-block"> 
              <i class="pe-7s-icon pe-7s-coffee"></i>
              <h4>Coffee Consumed</h4>
              <span class="fun-value">20,000</span>
            </div>
          </div>
        </div>
        <!-- End of Fun fucts block -->
      </section>
      <!-- End of About Me Subpage -->

      <!-- Resume Subpage -->
      <section class="pt-page pt-page-2" data-id="resume">
        <div class="section-title-block">
          <h2 class="section-title">Resume</h2>
          <h5 class="section-description">6 Years of Experience</h5>
        </div>

        <div class="row">
          <div class="col-sm-6 col-md-4 subpage-block">
            <div class="block-title">
              <h3>Education</h3>
            </div>
            <div class="timeline">
              <!-- Single event -->
              <div class="timeline-event te-primary">
                <h5 class="event-date">2010</h5>
                <h4 class="event-name">Specialization Course</h4>
                <span class="event-description">University of Studies</span>
                <p>Mauris magna sapien, pharetra consectetur fringilla vitae, interdum sed tortor.</p>
              </div>
              <!-- Single event -->
              <div class="timeline-event te-primary">
                <h5 class="event-date">2009</h5>
                <h4 class="event-name">Specialization Course</h4>
                <span class="event-description">University of Studies</span>
                <p>Mauris magna sapien, pharetra consectetur fringilla vitae, interdum sed tortor.</p>
              </div>
              <!-- Single event -->
              <div class="timeline-event te-primary">
                <h5 class="event-date">2008</h5>
                <h4 class="event-name">Specialization Course</h4>
                <span class="event-description">University of Studies</span>
                <p>Mauris magna sapien, pharetra consectetur fringilla vitae, interdum sed tortor.</p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-4 subpage-block">
            <div class="block-title">
              <h3>Experience</h3>
            </div>
            <div class="timeline">
              <!-- Single event -->
              <div class="timeline-event te-primary">
                <h5 class="event-date">Dec 2012 - Current</h5>
                <h4 class="event-name">Frontend-developer</h4>
                <span class="event-description">Web Agency</span>
                <p>Mauris magna sapien, pharetra consectetur fringilla vitae, interdum sed tortor.</p>
              </div>
              <!-- Single event -->
              <div class="timeline-event te-primary">
                <h5 class="event-date">Dec 2011 - Nov 2012</h5>
                <h4 class="event-name">Web Designer</h4>
                <span class="event-description">Apple Inc.</span>
                <p>Mauris magna sapien, pharetra consectetur fringilla vitae, interdum sed tortor.</p>
              </div>
              <!-- Single event -->
              <div class="timeline-event te-primary">
                <h5 class="event-date">Jan 2010 - Dec 2011</h5>
                <h4 class="event-name">Graphic Designer</h4>
                <span class="event-description">Web Agency</span>
                <p>Mauris magna sapien, pharetra consectetur fringilla vitae, interdum sed tortor.</p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-4 subpage-block">
            <div class="block-title">
              <h3>Design Skills</h3>
            </div>
            <div class="skills-info">
              <h4>Web Design</h4>                               
              <div class="skill-container">
                <div class="skill-percentage skill-1"></div>
              </div>

              <h4>Graphic Design</h4>
              <div class="skill-container">
                <div class="skill-percentage skill-2"></div>
              </div>

              <h4>Print Design</h4>
              <div class="skill-container">
                <div class="skill-percentage skill-3"></div>
              </div> 
            </div>

            <div class="block-title">
              <h3>Coding Skills</h3>
            </div>
            <div class="skills-info">
              <h4>HML5</h4>                               
              <div class="skill-container">
                <div class="skill-percentage skill-4"></div>
              </div>

              <h4>CSS3</h4>
              <div class="skill-container">
                <div class="skill-percentage skill-5"></div>
              </div>

              <h4>jQuery</h4>
              <div class="skill-container">
                <div class="skill-percentage skill-6"></div>
              </div>

              <h4>Wordpress</h4>
              <div class="skill-container">
                <div class="skill-percentage skill-7"></div>
              </div>

              <h4>PHP</h4>
              <div class="skill-container">
                <div class="skill-percentage skill-8"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="download-cv-block">
              <a class="button" target="_blank" href="#">Download CV</a>
            </div>
          </div>
        </div>
      </section>
      <!-- End Resume Subpage -->


      <!-- Portfolio Subpage -->
      <section class="pt-page pt-page-3" data-id="portfolio">
        <div class="section-title-block">
          <h2 class="section-title">Portfolio</h2>
          <h5 class="section-description">My Best Works</h5>
        </div>

        <!-- Portfolio Content -->
        <div class="portfolio-content">
                      
          <!-- Portfolio filter -->
          <ul id="portfolio_filters" class="portfolio-filters">
            <li class="active">
              <a class="filter btn btn-sm btn-link active" data-group="all">All</a>
            </li>
            <li>
              <a class="filter btn btn-sm btn-link" data-group="web">Web</a>
            </li>
            <li>
              <a class="filter btn btn-sm btn-link" data-group="software">Software</a>
            </li>
          </ul>
          <!-- End of Portfolio filter -->

          <!-- Portfolio Grid -->
          <div id="portfolio_grid" class="portfolio-grid portfolio-masonry masonry-grid-3">

            <!-- Portfolio Item 1 -->
            <figure class="item" data-groups='["all", "web"]'>
              <a class="ajax-page-load" href="{% url 'portfolio' 'occam' %}">
                <img src="{% static 'images/portfolio/tutor/1.png' %}" alt="Tutor">
                <div>
                  <h5 class="name">Tutor</h5>
                  <small>Web</small>
                  <i class="fa fa-code"></i>
                </div>
              </a>
            </figure>
            <!-- /Portfolio Item 1 -->

            <!-- Portfolio Item 2 -->
            <figure class="item" data-groups='["all", "software"]'>
              <a href="https://player.vimeo.com/video/97102654?autoplay=1" title="Praesent Dolor Ex" class="lightbox mfp-iframe">
                <img src="{% static 'images/portfolio/tutor/1.png' %}" alt="Tutor">
                <div>
                  <h5 class="name">Email parser</h5>
                  <small>Software</small>
                  <i class="fa fa-desktop"></i>
                </div>
              </a>
            </figure>
            <!-- /Portfolio Item 2 -->

            <!-- Portfolio Item 3 -->
            <figure class="item" data-groups='["all","illustration"]'>
              <a href="images/portfolio/3.jpg" class="lightbox" title="Duis Eu Eros Viverra">
                <img src="{% static 'images/portfolio/tutor/1.png' %}" alt="Tutor">
                <div>
                  <h5 class="name">Project Name</h5>
                  <small>Illustration</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <!-- /Portfolio Item 3 -->

            <!-- Portfolio Item 4 -->
            <figure class="item" data-groups='["all", "media"]'>
              <a class="ajax-page-load" href="portfolio-1.html">
                <img src="{% static 'images/portfolio/tutor/1.png' %}" alt="Tutor">
                <div>
                  <h5 class="name">Project Name</h5>
                  <small>Media</small>
                  <i class="fa fa-file-text-o"></i>
                </div>
              </a>
            </figure>
            <!-- /Portfolio Item 4 -->

            <!-- Portfolio Item 5 -->
            <figure class="item" data-groups='["all", "illustration"]'>
              <a href="images/portfolio/5.jpg" class="lightbox" title="Aliquam Condimentum Magna Rhoncus">
                <img src="{% static 'images/portfolio/tutor/1.png' %}" alt="Tutor">
                <div>
                  <h5 class="name">Project Name</h5>
                  <small>Illustration</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <!-- /Portfolio Item 5 -->

            <!-- Portfolio Item 6 -->
            <figure class="item" data-groups='["all", "media"]'>
              <a class="ajax-page-load" href="portfolio-1.html">
                <img src="{% static 'images/portfolio/tutor/1.png' %}" alt="Tutor">
                <div>
                  <h5 class="name">Project Name</h5>
                  <small>Media</small>
                  <i class="fa fa-file-text-o"></i>
                </div>
              </a>
            </figure>
            <!-- /Portfolio Item 6 -->

            <!-- Portfolio Item 7 -->
            <figure class="item" data-groups='["all", "video"]'>
              <a href="https://player.vimeo.com/video/97102654?autoplay=1" title="Nulla Facilisi" class="lightbox mfp-iframe">
                <img src="{% static 'images/portfolio/tutor/1.png' %}" alt="Tutor">
                <div>
                  <h5 class="name">Project Name</h5>
                  <small>Video</small>
                  <i class="fa fa-video-camera"></i>
                </div>
              </a>
            </figure>
            <!-- /Portfolio Item 7 -->

            <!-- Portfolio Item 8 -->
            <figure class="item" data-groups='["all",  "media"]'>
              <a class="ajax-page-load" href="portfolio-1.html">
                <img src="{% static 'images/portfolio/tutor/1.png' %}" alt="Tutor">
                <div>
                  <h5 class="name">Project Name</h5>
                  <small>Media</small>
                  <i class="fa fa-file-text-o"></i>
                </div>
              </a>
            </figure>
            <!-- /Portfolio Item 8 -->

            <!-- Portfolio Item 9 -->
            <figure class="item" data-groups='["all","illustration"]'>
              <a href="images/portfolio/9.jpg" class="lightbox" title="Mauris Neque Dolor">
                <img src="{% static 'images/portfolio/tutor/1.png' %}" alt="Tutor">
                <div>
                  <h5 class="name">Project Name</h5>
                  <small>Illustration</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <!-- /Portfolio Item 9 -->

            <!-- Portfolio Item 10 -->
            <figure class="item" data-groups='["all", "video"]'>
              <a href="https://player.vimeo.com/video/97102654?autoplay=1" title="Donec Lectus Arcu" class="lightbox mfp-iframe">
                <img src="{% static 'images/portfolio/tutor/1.png' %}" alt="Tutor">
                <div>
                  <h5 class="name">Project Name</h5>
                  <small>Video</small>
                  <i class="fa fa-video-camera"></i>
                </div>
              </a>
            </figure>
            <!-- /Portfolio Item 10 -->

            <!-- Portfolio Item 11 -->
            <figure class="item" data-groups='["all","illustration"]'>
              <a href="images/portfolio/11.jpg" class="lightbox" title="Duis Eu Eros Viverra">
                <img src="{% static 'images/portfolio/tutor/1.png' %}" alt="Tutor">
                <div>
                  <h5 class="name">Project Name</h5>
                  <small>Illustration</small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
            <!-- /Portfolio Item 11 -->

            <!-- Portfolio Item 12 -->
            <figure class="item" data-groups='["all","media"]'>
              <a class="ajax-page-load" href="portfolio-1.html">
                <img src="{% static 'images/portfolio/tutor/1.png' %}" alt="Tutor">
                <div>
                  <h5 class="name">Project Name</h5>
                  <small>Media</small>
                  <i class="fa fa-file-text-o"></i>
                </div>
              </a>
            </figure>
            <!-- /Portfolio Item 12 -->
          </div>
          <!-- /Portfolio Grid -->

        </div>
        <!-- /Portfolio Content -->

      </section>
      <!-- /Portfolio Subpage -->

      <!-- Blog Subpage -->
      <section class="pt-page pt-page-4" data-id="blog">
        <div class="section-title-block">
          <h2 class="section-title">Blog</h2>
          <h5 class="section-description">My Diary</h5>
        </div>
        <div class="blog-masonry">
          <!-- Blog Post 1 -->
          <div class="item">
            <div class="blog-card">
              <div class="media-block">
                <a href="{% url 'blog' 'test' %}">
                  <img class="post-image img-responsive" src="https://lmpixels.com/demo/sunshine-demo/sunshine-version-2/sunshine-html-template/images/blog/blog_post_1.jpg" alt="blog-post-1" />
                  <div class="mask"></div>
                  <div class="post-date"><span class="day">6</span><span class="month">Dec</span><!--<span class="year">2016</span>--></div>
                </a>
              </div>
              <div class="post-info">
                <ul class="category">
                  <li><a href="#">Travel</a></li>
                </ul>
                <a href="{% url 'blog' 'test' %}"><h4 class="blog-item-title">Bootstrap is the Most Popular Framework</h4></a>
              </div>
            </div>
          </div>
          <!-- End of Blog Post 1 -->

          <!-- Blog Post 2 -->
          <div class="item">
            <div class="blog-card">
              <div class="media-block">
                <a href="blog-post-1.html">
                  <img class="post-image img-responsive" src="images/blog/blog_post_2.jpg" alt="blog-post-2" />
                  <div class="mask"></div>
                  <div class="post-date"><span class="day">3</span><span class="month">Nov</span><!--<span class="year">2016</span>--></div>
                </a>
              </div>
              <div class="post-info">
                <ul class="category">
                  <li><a href="#">jQuery</a></li>
                </ul>
                <a href="blog-post-1.html"><h4 class="blog-item-title">One Framework, Every Device</h4></a>
              </div>
            </div>
          </div>
          <!-- End of Blog Post 2 -->

          <!-- Blog Post 3 -->
          <div class="item">
            <div class="blog-card">
              <div class="media-block">
                <a href="blog-post-1.html">
                  <img class="post-image img-responsive" src="images/blog/blog_post_3.jpg" alt="blog-post-3" />
                  <div class="mask"></div>
                  <div class="post-date"><span class="day">12</span><span class="month">Oct</span><!--<span class="year">2016</span>--></div>
                </a>
              </div>
              <div class="post-info">
                <ul class="category">
                  <li><a href="#">Sport</a></li>
                </ul>
                <a href="blog-post-1.html"><h4 class="blog-item-title">Designed for Everyone, Everywhere</h4></a>
              </div>
            </div>
          </div>
          <!-- End of Blog Post 3 -->

          <!-- Blog Post 4 -->
          <div class="item">
            <div class="blog-card">
              <div class="media-block">
                <a href="blog-post-1.html">
                  <img class="post-image img-responsive" src="images/blog/blog_post_4.jpg" alt="blog-post-4" />
                  <div class="mask"></div>
                  <div class="post-date"><span class="day">18</span><span class="month">Aug</span><!--<span class="year">2016</span>--></div>
                </a>
              </div>
              <div class="post-info">
                <ul class="category">
                  <li><a href="#">CSS</a></li>
                </ul>
                <a href="blog-post-1.html"><h4 class="blog-item-title">An Introduction To PostCSS</h4></a>
              </div>
            </div>
          </div>
          <!-- End of Blog Post 4 -->

          <!-- Blog Post 5 -->
          <div class="item">
            <div class="blog-card">
              <div class="media-block">
                <a href="blog-post-1.html">
                  <img class="post-image img-responsive" src="images/blog/blog_post_5.jpg" alt="blog-post-5" />
                  <div class="mask"></div>
                  <div class="post-date"><span class="day">2</span><span class="month">Jul</span><!--<span class="year">2016</span>--></div>
                </a>
              </div>
              <div class="post-info">                        
                <ul class="category">
                  <li><a href="#">CSS3</a></li>
                </ul>
                <a href="blog-post-1.html"><h4 class="blog-item-title">Original and Innovative Web Layouts</h4></a>
              </div>
            </div>
          </div>
          <!-- End of Blog Post 5 -->

          <!-- Blog Post 6 -->
          <div class="item">
            <div class="blog-card">
              <div class="media-block">
                <a href="blog-post-1.html">
                  <img class="post-image img-responsive" src="images/blog/blog_post_6.jpg" alt="blog-post-6" />
                  <div class="mask"></div>
                  <div class="post-date"><span class="day">8</span><span class="month">May</span><!--<span class="year">2016</span>--></div>
                </a>
              </div>
              <div class="post-info">
                <ul class="category">
                  <li><a href="#">HTML5</a></li>
                </ul>
                <a href="blog-post-1.html"><h4 class="blog-item-title">Creative and Innovative Navigation Designs</h4></a>
              </div>
            </div>
          </div>
          <!-- End of Blog Post 6 -->

          <!-- Blog Post 7 -->
          <div class="item">
            <div class="blog-card">
              <div class="media-block">
                <a href="blog-post-1.html">
                  <img class="post-image img-responsive" src="images/blog/blog_post_7.jpg" alt="blog-post-7" />
                  <div class="mask"></div>
                  <div class="post-date"><span class="day">7</span><span class="month">Apr</span><!--<span class="year">2016</span>--></div>
                </a>
              </div>
              <div class="post-info">
                <ul class="category">
                  <li><a href="#">Design</a></li>
                </ul>
                <a href="blog-post-1.html"><h4 class="blog-item-title">Navigation for Mega-Sites</h4></a>
              </div>
            </div>
          </div>
          <!-- End of Blog Post 7 -->

          <!-- Blog Post 8 -->
          <div class="item">
            <div class="blog-card">
              <div class="media-block">
                <a href="blog-post-1.html">
                  <img class="post-image img-responsive" src="images/blog/blog_post_8.jpg" alt="blog-post-8" />
                  <div class="mask"></div>
                  <div class="post-date"><span class="day">21</span><span class="month">Mar</span><!--<span class="year">2016</span>--></div>
                </a>
              </div>
              <div class="post-info">
                <ul class="category">
                  <li><a href="#">CSS3</a></li>
                </ul>
                <a href="blog-post-1.html"><h4 class="blog-item-title">Front-End Challenge Accepted: CSS 3D Cube</h4></a>
              </div>
            </div>
          </div>
          <!-- End of Blog Post 8 -->
        </div>
      </section>
      <!-- End Blog Subpage -->

      <!-- Contact Subpage -->
      <section class="pt-page pt-page-5" data-id="contact">
        <div class="section-title-block">
          <h2 class="section-title">Contact</h2>
          <h5 class="section-description">Get in Touch</h5>
        </div>

        <div class="row">
          <div class="col-sm-6 col-md-6 subpage-block">
            <div class="block-title">
              <h3>Get in Touch</h3>
            </div>
            <p>Sed eleifend sed nibh nec fringilla. Donec eu cursus sem, vitae tristique ante. Cras pretium rutrum egestas. Integer ultrices libero sed justo vehicula, eget tincidunt tortor tempus.</p>
            <div class="contact-info-block">
              <div class="ci-icon">
                <i class="pe-7s-icon pe-7s-map-marker"></i>
              </div>
              <div class="ci-text">
                <h5>Los Angeles, USA</h5>
              </div>
            </div>
            <div class="contact-info-block">
              <div class="ci-icon">
                <i class="pe-7s-icon pe-7s-mail"></i>
              </div>
              <div class="ci-text">
                <h5>alexsmith@example.com</h5>
              </div>
            </div>
            <div class="contact-info-block">
              <div class="ci-icon">
                <i class="pe-7s-icon pe-7s-call"></i>
              </div>
              <div class="ci-text">
                <h5>+123 654 78900</h5>
              </div>
            </div>
            <div class="contact-info-block">
              <div class="ci-icon">
                <i class="pe-7s-icon pe-7s-check"></i>
              </div>
              <div class="ci-text">
                <h5>Freelance Available</h5>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-6 subpage-block">
            <div class="block-title">
              <h3>Contact Form</h3>
            </div>
            <form id="contact-form" method="post" action="contact_form/contact_form.php">

              <div class="messages"></div>

              <div class="controls">
                <div class="form-group">
                    <input id="form_name" type="text" name="name" class="form-control" placeholder="Full Name" required="required" data-error="Name is required.">
                    <div class="form-control-border"></div>
                    <i class="form-control-icon fa fa-user"></i>
                    <div class="help-block with-errors"></div>
                </div>

                <div class="form-group">
                    <input id="form_email" type="email" name="email" class="form-control" placeholder="Email Address" required="required" data-error="Valid email is required.">
                    <div class="form-control-border"></div>
                    <i class="form-control-icon fa fa-envelope"></i>
                    <div class="help-block with-errors"></div>
                </div>

                <div class="form-group">
                    <textarea id="form_message" name="message" class="form-control" placeholder="Message for me" rows="4" required="required" data-error="Please, leave me a message."></textarea>
                    <div class="form-control-border"></div>
                    <i class="form-control-icon fa fa-comment"></i>
                    <div class="help-block with-errors"></div>
                </div>

                <div class="g-recaptcha" data-sitekey="6LdqmCAUAAAAAMMNEZvn6g4W5e0or2sZmAVpxVqI" data-callback="correctCaptcha"></div>

                <input type="submit" class="button btn-send" value="Send message">
              </div>
            </form>
          </div>
        </div>
      </section>
      <!-- End Contact Subpage -->

    </div>
  </div>
  <!-- /Page changer wrapper -->
{% endblock %}
